.main-menu {
  padding: 0px 70px;
  padding-left: 70px;
  padding-right: 70px;
  z-index: 1100;
  background-color: #87cef3;
}

.main-menu.navbar {
  flex-wrap: nowrap;
}

.main-menu .main-menu-logo-item {
  display: block;
}

.main-menu .navbar-nav {
  display: block;
  width: 100%;
}

.main-menu .navbar-brand {
  height: 59px;
  line-height: 59px;
  padding: 0px;
}

.main-menu-logo {
  width: auto;
  height: 35px;
}

.navbar-nav button.MuiToggleButton-root {
  height: 100%;
  font-size: 16px;
  color: #4b483f;
  text-decoration: none;
  border: 0px;
  border-radius: 0px;
}

.navbar-nav button.MuiToggleButton-root:hover {
  background-color: #39f;
}

.navbar-nav button.MuiToggleButton-root.Mui-selected {
  background-color: #024b4b;
}

.main-menu .nav-item {
  display: inline-block;
  height: 59px;
  line-height: 59px;
  text-align: center;  
}

.main-menu .nav-item:first-of-type {
  width: 60%;
}

.main-menu .nav-item:nth-of-type(2) {
  width: 40%;
}

.navbar-nav a:hover {
  color: rgba(255,255,255,.75);
}

@media only screen and (max-width : 768px) {
  .main-menu {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-menu .nav-item {
    margin: 0px;
  }

  .main-menu .nav-item a {
    width: 100%;
  }

  .main-menu .nav-item a button {
    width: 100%;
  }
}