.layers-control .MuiListItem-dense
{
	padding-top: 0px;
	padding-bottom: 0px;
}

.layers-control .MuiListSubheader-root
{
	line-height: unset;
}

.MuiListItem-root+.MuiListSubheader-root
{
	margin-top: 0.75rem;
}