.viewer-menu {
  width: 100vw;
  height: 48px;
}

.viewer-menu button.menuButton {
  width: 33.33333%;
  height: 100%;
  padding: 0px;
  border-radius: 0px;
  box-shadow: none;
}

.viewer-menu button.menuButton.active
{
  border-bottom: 3px solid;
}