.filter-control .showTiles
{
	width: 100%;
	margin-right: 0;
	margin-bottom: 0;
}

.filter-control .MuiSlider-root
{
	display: block;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.filter-control .MuiSlider-root .MuiSlider-markLabel
{
	letter-spacing: -1px;
	transform: translateX(-66%) translateY(7.5px) rotate(-45deg);
}

.filter-control .MuiSlider-markLabel.MuiSlider-markLabelActive
{
	color: #87cef3;
}

.filter-control .filterInputContainer
{
	width: inherit;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
}

.filter-control .filterFormItem
{
	margin: 0.5rem 0;
}

.filter-control .filterFormItemCollapse .MuiListItemIcon-root
{
	min-width: 32px;
}

.filter-control .button_count
{
	margin-top: 1.5rem;
}

.filter-control .button_count button
{
	width: 50%;
}

.filter-control .button_count .countMessage
{
	display: inline-block;
	width: 50%;
	font-size: 87.5%;
	text-align: center;
}

.filter-control .card-content
{
	margin-top: -0.35em;
}

.filter-control .filterSubtitle
{
	line-height: 0;
	cursor: pointer;
}

.filter-control .filterSubtitle h3
{
	margin: 0;
	padding: 0;
  text-transform: capitalize;
	line-height: 2rem;
}

.filter-control p
{
	font-size: 0.88rem;
	margin: 0;
	hyphens: auto;
}

.filter-control .filterFormItemCollapse
{
	margin: 0 -16px;
}

.filter-control .FilterInput
{
	margin-right: 0;
	margin-bottom: 1rem;
}

.controls-pane .filter-control .MuiFormControlLabel-root .MuiFormControlLabel-label
{
	margin-top: 7px;
}

.filter-control .filterInputCollapse
{
	margin: 0 16px;
}

.MuiTooltip-tooltip.MuiTooltip-tooltipPlacementRight
{
	padding: 12px 16px;
	margin-left: 8px;
	font-size: 75%;
}

.filter-control .filterInputText span
{
	font-size: 1rem;
	hyphens: auto;
}

/*.filter-control .FilterInput .MuiCollapse-container
{
	width: 100%;
}*/