.card-content .MuiSlider-root .MuiSlider-markLabel
{
	letter-spacing: -1px;
	transform: translateX(-66%) translateY(7.5px) rotate(-45deg);
}

.card-content .MuiSlider-markLabel.MuiSlider-markLabelActive
{
	color: #87cef3;
}

.card-content .MuiSlider-root
{
	box-sizing: border-box;
	display: block;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.card-content .red
{
	color: red;
	font-weight: 900;
}

.card-content .button_count
{
	display: grid;
	grid-auto-columns: 1fr 1fr;
  grid-auto-flow: column;
  column-gap: 2rem;
}

.card-content .countMessage
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card-content .button_count button
{
    max-height: 38px;
}