div.content {
    margin-bottom: 0em;
}

.viewer {
  width: 100vw;
  height: 100%;
  position: relative;
}

.viewer-main-container {
  height: calc(100% - 48px);
}

.viewer-pane {
  display: inline-block;
  position: relative;
  height: 100%;
  background-color: #f4f4f4;
}

.map-pane {
  width: 100vw;
  position: relative;
  background-color: #f4f4f4;
}

.leaflet-container {
  height: 100%;
  position: relative;
}

.classes-data-graph {
  position: absolute;
  width: 500px;
  text-align: left;
  z-index: 999;
  bottom: 350px;
}

.measurements-data-graph {
  position: absolute;
  width: 500px;
  text-align: left;
  z-index: 999;
  bottom: 50px;
}

div.loading-spinner {
  position: absolute;
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

button.expand-icon {
  padding: 6px;
}

div.card-content-item {
  margin-top: 8px;
}

button.card-submit-button {
  display: block;
  width: 50%;
  margin-left: auto;
}

.expanded {
  transform: rotate(180deg);
}

.selector {
  width: 100%;
}

div.selector-single {
  padding-top: 0px;
}

.viewer-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  z-index: 9999999;
}

.viewer-modal-close {
  position: fixed;
  top: 50px;
  right: 60px;
  width: 50px;
  height: 50px;
}

.layerDivIcon
{
  z-index: 600!important;
}

@media only screen and (max-width: 700px) {
  .controls-pane {
    width: 100vw;
  }

  .data-pane {
    width: 100vw;
  }
}