div.class-selector {
  width: 100%;
  margin-bottom: 16px;
}

div.analyse-card-content {
  padding-bottom: 0px;
}

div.analyse-card-actions {
  padding-top: 0px;
  float: right;
}

div.soilDataTableContainer+div.soilDataTableContainer
{
	margin-top: 1.5rem;
}

div.soilDataTableContainer p
{
	padding: 0 16px
}

div.analyseControl .MuiListItem-dense
{
	padding: 0;
}

div.analyseControl .MuiCheckbox-root
{
	padding: 0 9px;
}

div.analyseControl .VictoryContainer+ul
{
	padding-bottom: 0;
}