.controls-pane-block {
  margin-top: 18px;
}

.layers-control {
  text-align: left;
  font-size: 12pt;
}

.layer-checkboxes {
  position: relative;
}

span.layers-control-checkbox {
  padding: 5px;
}

div.material-card-header {
  padding-bottom: 6px;
}

div.card-content {
  padding-top: 0px;
}

div.card-content:last-child {
  padding-bottom: 16px;
}

.controls-pane-background-text {
  color: #b2b2b2
}

.geometry-counter {
  position: absolute;
  right: 0px;
  height: 34px;
  line-height: 34px;
}

.geometry-limit-exceeded {
  color: #ff0000;
}

button.download-geometry-button {
  margin-left: 4px;
  padding: 8px;
}

svg.download-geometry-button-icon {
  font-size: 18px;
}

.controls-pane .MuiFormControlLabel-root {
  align-items: flex-start;
  margin-right: 0;
}

.controls-pane .MuiFormControlLabel-root .MuiFormControlLabel-label {
  margin-top: 5px;
}

.controls-pane .MuiCard-root+.MuiCard-root
{
  margin-top: 12px;
}

@media only screen and (max-width: 1250px) {
  .geometry-counter {
    display: block;
    position: relative;
    right: auto;
    margin-left: 25px;
  }
}