.multiplyControl
{
	margin-top: 1rem;
}

.multiplyControl p
{
	font-size: 75%;
	hyphens: auto;
	text-align: center;
	display: block;
	width: 100%;
	margin: 6px 0px;
}

.multiplyControl p+p
{
	margin-top: 12px;
}

.multiplyControl label
{
	hyphens: auto;
	width: 100%;
	font-size: 16px;
  transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, width 200ms cubic-bezier(0.0, 0, 0.2, 1);
}

.multiplyControl label[data-shrink="false"]
{
	margin-right: 8px;
}

.multiplyControl label[data-shrink="true"]
{
	width: 125%;
}