ul.treeControl
{
	width: 100%;
	padding-top: 0;
}

.treeControl .MuiListSubheader-root.MuiListSubheader-colorPrimary
{
	line-height: initial;
	margin-bottom: 8px;
	text-align: left;
	padding-right: 48px;
}

.treeControl .addListOption
{
	text-align: center;
	color: #87cef3;
}

.treeControl .addListOption span:hover
{
	text-decoration: underline;
	cursor: pointer;
}

.treeControl .addListOption .inputContainer
{
	width: 100%;
}

.treeControl .MuiInputLabel-shrink
{
	width: 125%;
}

.treeControl .filterAddHandlingButtonsContainer
{
  justify-content: flex-end;
}

.treeControl .MuiSelect-select, .treeControl input
{
	text-align: center;
}

.treeControl .treeAddHandlingButtonsContainer
{
  justify-content: flex-end;
  padding-right: 32px;
}

.treeControl .ratioSubheader, .treeControl .ratioItem
{
	text-align: center;
}

.treeControl .MuiListItemSecondaryAction-root
{
	right: 0;
}

.treeControl .MuiListItem-secondaryAction
{
  padding-right: 62px;
}