.plantControl .data-pane-title-card
{
	display: flex;
}

.plantControl .data-pane-title-card .data-pane-title-header
{
	width: 100%;
	padding: 0 25px;
}

.plantControl .data-pane-card
{
	margin-top: 1rem;
}

.plantControl .data-pane-title-card .data-pane-title-header h2.data-pane-title
{
	margin: 0;
	width: initial;
	text-align: left;
}

.plantControl .data-pane-card p
{
	font-size: 75%;
	hyphens: auto;
	text-align: center;
	display: block;
	width: 100%;
	margin: 6px 0px;
}

.plantControl .data-pane-card p+p
{
	margin-top: 12px;
}

.plantControl .data-pane-card label
{
	hyphens: auto;
	width: 100%;
	font-size: 16px;
  transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, width 200ms cubic-bezier(0.0, 0, 0.2, 1);
}

.plantControl .data-pane-card label[data-shrink="false"]
{
	margin-right: 8px;
}

.plantControl .data-pane-card label[data-shrink="true"]
{
	width: 125%;
}

.plantControl .data-pane-card .distanceInput
{
	margin-bottom: 2rem;
}

.plantControl .data-pane-card button.plantButton
{
	margin: 1rem auto;
	margin-top: 0;
}

.plantControl .data-pane-card .MuiCardContent-root
{
	padding-bottom: 8px;
}

.plantControl .data-pane-card .red
{
	color: red;
	font-weight: 700;
}